@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-1: #ffffff;
    --color-2: #000000;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Sofia Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: all 1s;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23888888' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23666666' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23444444' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23222222' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23000000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E"), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23eeeeee' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23dddddd' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23cccccc' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23bbbbbb' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23AAAAAA' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover, 126%;
}
body::-webkit-scrollbar {
    width: 1rem;
    background-image: linear-gradient(180deg, #ffffff, #000000);
}
body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#000000, #ffffff);
}
nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 5rem;
    margin: 0;
    background-color: var(--color-1);
}
nav img {
    height: 3rem;
    width: auto;
}
nav .links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav a {
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-2);
    transition: color 0.5s;
}
main {
    margin: 0;
    width: 100%;
}
.aboutus {
    display: flex;
    height: 50rem;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    padding: 2rem 15rem;
    box-sizing: border-box;
    color: var(--color-2);
}
.aboutus h1 {
    font-size: 72px;
    margin: 0;
}
.aboutus p {
    font-size: 32px;
}
.divide {
    width: 100%;
    height: 10rem;
}
.analytics {
    text-align: center;
    width: 100%;
    padding: 2rem 15rem;
    box-sizing: border-box;
    color: var(--color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.analytics h1 {
    font-size: 72px;
    margin: 0;
}
.amounts {
    margin-top: 2rem;
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.amounts h3 {
    margin: 0;
    font-size: 32px;
}
.amounts div {
    height: max-content;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var(--color-2);
    border-radius: 1rem;
}
.services {
    text-align: center;
    width: 100%;
    padding: 2rem 15rem;
    box-sizing: border-box;
    color: var(--color-2);
}
.services h1 {
    font-size: 72px;
    margin: 0;
}
.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 50rem;
    width: 100%;
    padding: 2rem 15rem;
    box-sizing: border-box;
    color: var(--color-1);
}
.contact h1 {
    font-size: 72px;
    margin: 0;
}
/* .contact .contactform {
    height: 25rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: start;
}
.contactform input {
    color: var(--color-1);
    box-sizing: border-box;
    padding: 0.5rem;
    height: 2rem;
    border-radius: 0.25rem;
    border: none;
    outline: 2px solid var(--color-1);
    background-color: var(--color-3);
    transition: all 0.5s;
}
.contactform input::placeholder {
    color: var(--color-2);
}
.contactform input:focus{
    outline: 3px solid var(--color-1);
    background-color: var(--color-4);
}
.contactform label {
    margin-bottom: 0.25rem;
    font-weight: 500;
    font-size: 20px;
}
.name {
    width: 27rem;
    display: flex;
    justify-content: space-between;
}
.firstname {
    display: flex;
    flex-direction: column;
}
.lastname {
    display: flex;
    flex-direction: column;
}
.email {
    display: flex;
    flex-direction: column;
}
.message {
    display: flex;
    flex-direction: column;
}
.message textarea {
    color: var(--color-1);
    padding: 0.5rem;
    height: 5rem;
    display: block;
    top: 0;
    text-align: start;
    border-radius: 0.25rem;
    border: none;
    resize: none;
    outline: 2px solid var(--color-1);
    background-color: var(--color-3);
    transition: all 0.5s;
}
.message textarea::placeholder {
    color: var(--color-2);
}
.message textarea:focus{
    outline: 3px solid var(--color-1);
    background-color: var(--color-4);
}
.buttons button {
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-1);
    background-color: var(--color-3);
    border: 2px solid var(--color-1);
    border-radius: 0.25rem;
    height: 3rem;
    width: 100%;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s, border 0.5s;
}
.buttons button:hover {
    background-color: var(--color-2);
}
.buttons button:active {
    color: var(--color-2);
    background-color: var(--color-1);
    transition: color 0.1s, background-color 0.1s, border 0.1s;
} */